.trend-gallery-container {
  margin: 50px 0 0;
  padding-bottom: 20px;
  border-bottom: 1px solid #333;
  display: grid;
  grid-template-columns: repeat(4, 25%);
  grid-template-rows: repeat(2, 300px);
  overflow-x: auto;
}

.trend-title {
  text-align: center;
  font-size: 2.5em;
}

.products-visual-trend-item > img {
  width: 100%;
}