.contact-container {
  background: rgb(140, 56, 56);
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-container > img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: linear-gradient(to top left, rgb(218, 220, 219), rgb(242, 242, 242));
  height: auto;
  min-width: 300px;
  width: 50%;
  max-width: 500px;
  padding: 2em;
  border-radius: 1em;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.title {
  margin-bottom: 1em;
  text-align: center;
}

form input {
  min-width: 80%;
  margin-bottom: 1em;
  text-align: center;
  padding: .2em;
  border-radius: .4em;
  border: none;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.217);
}

form input::placeholder {
  color: #333;
  text-transform: uppercase;
}

form button {
  padding: .5em 1em;
  border-radius: 1em;
  border: none;
  background: linear-gradient(to top, #222, #111);
  color: #f2f2f2;
  font-weight: bolder;
  text-transform: uppercase;
  margin-top: 1.5em;
}

textarea {
  resize: none;
  min-width: 100%;
  padding: 0.4em;
  border-radius: .5em;
  border: none;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.217);
} 

@media screen and (max-width: 700px) {
  .title h3 {
    display: none;
  }

  form {
    padding: 1em;
  }

}