.home-hero {
  margin-top: 50px;
  background: rgb(41, 80, 135);
  width: 100%;
  height: 75vh;
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-hero img {
  width: 100%;
  position: absolute;
}

.home-hero h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 5em;
  font-weight: bold;
  color: #f2f2f2;
  text-shadow: 0 1px .5em rgba(103, 103, 103, 0.216);
}

.home-container {
  position: relative;
  padding: 2em 0 4em 0;
  height: auto;
  width: 100%;
}

.news-container {
  width: 100%;
  height: auto;
}

.news-img-container {
  position: relative;
  width: 100%;
}

.news-img img {
  object-fit: cover;
  height: 550px;
  width: 100%;
}

.news-img::before {
  content: '';
  position: absolute;
  z-index: 1;
  height: 100%;
  width: 100%;
  background: linear-gradient(to top, #000, rgb(57, 57, 57));
  opacity: 0;
  transition: opacity 0.2s ease-in;
}

.news-img-container span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3em;
  font-weight: bold;
  color: #f2f2f2;
  text-shadow: 0 1px 10px rgb(46, 46, 46);
  z-index: 2;
  cursor: pointer;
  text-align: center;
}

.news-img-container > span:hover + .news-img::before {
  opacity: 0.7;
}


.news-img-container span > a {
  color: #f2f2f2;
}

.news-title {
  margin-bottom: .8em;
  text-align: center;
  font-size: 2.5em;
}

.trend {
  padding: 1em 7%;
  margin-top: 2em;
}

@media screen and (max-width : 1100px) {

  .home-hero {
    height: 50vw;
  }

  .home-hero h1{
    font-size: 7vw;
  }

}

.product-showcase-home {
  background: rgba(215, 215, 215, 0.413);
  height: calc(100vh - 50px);
}

.container-grid {
  display: grid;
  grid-template-columns: 60% 40%;
  grid-template-areas: 'one two';
  height: 100%;
}

.img-container {
  overflow: hidden;
}

.img-container > a > img {
  height: 100%;
  position: relative;
  left: -300px;
}

.product-showcase-home-description {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.text-center {
  font-size: 1.2em;
  max-width: 500px;
}

.title-product-home-showcase {
  font-size: 2em;
  font-weight: 500;
  margin-bottom: 1.5em;
}

.text-center > span {
  display: block;
  margin: .2em 0;
}

.btn{
  padding: .5em .7em;
  font-weight: 500;
  margin-top: 2em;
  display: inline-block;
  border: 1px solid #222;
  border-radius: .5em;
  transition: all 0.35s ease-out;
}

.btn:hover {
  background: #222;
  color: #f2f2f2;
}

.img-container.two > a > img  {
  left: 0;
  height: 150%;
}

.img-container.two {
  grid-area: two;
  order: 0;
}

.container-grid.two {
  grid-template-columns: 40% 60%;
}

.text-center.two {
  text-align: end;
}