*, ::before, ::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.home-hero {
  margin-top: 50px;
  background: rgb(41, 80, 135);
  width: 100%;
  height: 75vh;
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-hero img {
  width: 100%;
  position: absolute;
}

.home-hero h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 5em;
  font-weight: bold;
  color: #f2f2f2;
  text-shadow: 0 1px .5em rgba(103, 103, 103, 0.216);
}

.home-container {
  position: relative;
  padding: 2em 2em 4em 2em;
  height: auto;
  width: 100%;
}

.news-container {
  width: 100%;
  height: auto;
  overflow: hidden;
}

.news-img-container {
  overflow: hidden;
  position: relative;
  height: 550px;
  width: 100%;
}

.news-img img {
  position: absolute;
  top: 23%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.news-img::before {
  content: '';
  position: absolute;
  z-index: 1;
  height: 100%;
  width: 100%;
  background: linear-gradient(to top, #000, rgb(57, 57, 57));
  opacity: 0;
  transition: opacity 0.2s ease-in;
}

.news-img-container span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3em;
  font-weight: bold;
  color: #f2f2f2;
  text-shadow: 0 1px 10px rgb(46, 46, 46);
  z-index: 10;
  cursor: pointer;
}

.news-img-container span:hover + .news-img::before {
  opacity: 0.7;
}

.news-title {
  margin-bottom: .8em;
  text-align: center;
  font-size: 2.5em;
}

.trend {
  margin-top: 2em;
}

.trend-title {
  text-align: center;
  font-size: 2.5em;
}

@media screen and (max-width : 1100px) {

  .home-hero {
    height: 50vw;
  }

  .home-hero h1{
    font-size: 1em;
  }

}