.main-wrapper {
  padding: 5em 3em;
  min-height: 100vh;
  min-width: 100vh;
  font-size: 1.5em;
}

.register-inscription-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.register-inscription-container > h1 {
  padding: .5em;
  font-size: 2em;
  width: 50%;
  border-bottom: 2px solid #222;
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center; 
}

.form-register-inscription {
  width: 50%;
}

.form-items {
  margin: 2em;
  display: flex;
  flex-direction: column;
}

.form-items > input {
  margin-top: .7em;
  padding: .5em;
  background: transparent;
  border: 1px solid #222;
  border-radius: 1em;
}

.submit {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.submit > button {
  background-color: #222;
  border: none;
  padding: .5em 1em;
  border-radius: 1em;
  color: #f2f2f2;
  margin-bottom: 2em;
  width: 40%;
  font-size: .8em;
  cursor: pointer;
}