
.products-container {
  height: 100%;
  padding: 100px 0;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, 300px);
  grid-auto-rows: 350px;
  gap: 40px;
}

a {
  text-decoration: none;
}

.wrapper {
  background: #fff;
  text-align: center;
  padding: 10vh 0;
}

.card {
  height: 100%;
  border-radius: 20px;
  padding: 15px;
  display: grid;
  grid-template-rows: 1fr 50px 50px;
  transition: all 0.2s ease-out;
}

.card:hover {
  box-shadow: inset 0 0 3em 1px rgba(213, 213, 213, 0.305), 0 0 .5em 1px rgba(138, 138, 138, 0.447);
  transform: scale(1.1);
}

.card:hover .products-visual img {
  transform: scale(1.1) rotate(-10deg);
}

.products-visual {
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 10px;
}

.products-visual img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  transition: transform 0.3s ease-out;
}

.product-title {
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-title span {
  font-size: 1.5rem;
  text-decoration: none;
  color: black;
}

.product-description {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  color: black;
}