
*, ::before, ::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* html, body {
  font-size: 10px;
} */

body {
  width: 100%;
  position: relative;
}

.App {
  text-align: center;
}

a {
  color: #222;
}

body::-webkit-scrollbar {
  width: 10px; /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: #222; /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: #ebe6d4; /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
  border: 3px solid #222; /* creates padding around scroll thumb */
}