.home-gallery {
  max-width: 1100px;
  width: 80%;
  min-width: 300px;
  margin: auto;
}

.home-gallery > div {
  margin-top: 2em;
  text-align: center;
}

.home-gallery > div > h3 {
  font-size: 1.7em;
  text-transform: uppercase;
}

.home-gallery > div > div {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 1em;
}

.home-gallery > div > div > a {
  min-width: 200px;
  width: 25%;
}

.home-gallery > div > div > a > img {
  width: 100%;
}

.home-gallery > div > span {
  display: flex;
  justify-content: flex-end;
}

@media (max-width: 650px) {
  .home-gallery > div  {
    margin-bottom: 100px;
  }
}

@media (max-width: 1100px) {
    .home-gallery > div > span {
    justify-content: center;
  }
}