.promo-banner {
  position: relative;
  height: 1.6em;
  text-align: center;
  overflow: hidden;
  background: #111;
  color: #f2f2f2;
}

.promo-banner-remove {
  display: none;
}

.promo-banner > span{
  position: absolute;
  top: 150%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: all 0.5s ease-out;
}

.promo-banner span.active {
  top: 50%;
  opacity: 1;
}

.remove-banner {
  position: absolute;
  right: 0;
  margin-right: .6em;
}

.remove-banner > span {
  line-height: 1.6em;
  vertical-align: middle;
  font-family: Arial, Helvetica, sans-serif;
  cursor: pointer;
}